<div class="w3-padding-64 w3-content w3-text-grey" id="contact">
  <h2 class="w3-text-light-grey">Kontaktiere mich</h2>
  <hr style="width: 240px" class="w3-opacity" />

  <div class="w3-section">
    <p>
      <i
        class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"
      ></i>
      Köln, DE
    </p>
    <p>
      <i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>
      Phone: 015214335563
    </p>
    <p>
      <i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right">
      </i>
      <a href="mailto:khalil.aboud.khalaf@outlook.com">
        Email: khalil.aboud.khalaf&#64;outlook.com</a
      >
    </p>
  </div>
  <br />
  <p>Lassen Sie uns in Kontakt treten. Senden Sie mir eine Nachricht:</p>

  <form (submit)="sendMessage($event)">
    <p>
      <input
        class="w3-input w3-padding-16"
        type="text"
        placeholder="Name"
        required
        name="Name"
        [(ngModel)]="formData.name"
      />
    </p>
    <p>
      <input
        class="w3-input w3-padding-16"
        type="text"
        placeholder="Email"
        required
        name="Email"
        [(ngModel)]="formData.email"
      />
    </p>
    <p>
      <input
        class="w3-input w3-padding-16"
        type="text"
        placeholder="Subject"
        required
        name="Subject"
        [(ngModel)]="formData.subject"
      />
    </p>
    <p>
      <input
        class="w3-input w3-padding-16"
        type="text"
        placeholder="Message"
        required
        name="Message"
        [(ngModel)]="formData.message"
      />
    </p>
    <p>
      <button class="w3-button w3-light-grey w3-padding-large" type="submit">
        <i class="fa fa-paper-plane"></i> NACHRICHT SENDEN
      </button>
    </p>
  </form>
  <!-- End Contact Section -->
</div>
