<!-- <header>
  <h1>Willkommen bei meinem Portfolio</h1>
  <p>Ich bin ein leidenschaftler Entwikler mit Fokus auf Web-Technologien</p>
</header>
<section>
  <h2>Über mich</h2>
  <p>Mein Name ist {{ about.name }}. {{ about.Bio }}</p>
</section> -->
<div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
  <h2 class="w3-text-light-grey">Khalil Al Khalaf</h2>
  <hr style="width: 200px" class="w3-opacity" />
  <p>
    Full Stack Software Ingenieur (Java, Spring boot, Angular, Azure,
    Microservices) mit Erfahrung in der Arbeit mit internationalen Teams und
    Kunden, der eine neue Herausforderung sucht, um neuartige B2C-Produkte zu
    entwickeln.
  </p>
  <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
  <p class="w3-wide">Java</p>
  <div class="w3-dark-grey">
    <div class="w3-white" style="height: 28px; width: 80%"></div>
  </div>
  <p class="w3-wide">Spring boot</p>
  <div class="w3-dark-grey">
    <div class="w3-white" style="height: 28px; width: 70%"></div>
  </div>
  <p class="w3-wide">AOP (Microservices)</p>
  <div class="w3-dark-grey">
    <div class="w3-white" style="height: 28px; width: 75%"></div>
  </div>
  <p class="w3-wide">Angular</p>
  <div class="w3-dark-grey">
    <div class="w3-white" style="height: 28px; width: 65%"></div>
  </div>
  <p class="w3-wide">Problemlösung und Datenstrukturen</p>
  <div class="w3-dark-grey">
    <div class="w3-white" style="height: 28px; width: 95%"></div>
  </div>
  <p class="w3-wide">Agile</p>
  <div class="w3-dark-grey">
    <div class="w3-white" style="height: 28px; width: 80%"></div>
  </div>
  <br />

  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">4+</span><br />
      Partners
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">17+</span><br />
      Projects Done
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">8+</span><br />
      Happy Clients
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">150+</span><br />
      Meetings
    </div>
  </div>

  <button class="w3-button w3-light-grey w3-padding-large w3-section">
    <a href="/assets/files/CV - khalil Al khalaf - DE.pdf" download="Lebenslauf"
      ><i class="fa fa-download"></i> Lebenslauf herunterladen
    </a>
  </button>

  <!-- Grid for pricing tables -->
  <h3 class="w3-padding-16 w3-text-light-grey">My Price</h3>
  <div class="w3-row-padding" style="margin: 0 -16px">
    <div class="w3-half w3-margin-bottom">
      <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Basic</li>
        <li class="w3-padding-16">Web Design</li>
        <li class="w3-padding-16">Service Integration</li>
        <li class="w3-padding-16">Fehlerbehebung</li>
        <li class="w3-padding-16">
          <h2>$ 10</h2>
          <span class="w3-opacity">Pro Aufgabe</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-white w3-padding-large w3-hover-black">
            Sign Up
          </button>
        </li>
      </ul>
    </div>

    <div class="w3-half">
      <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Pro</li>
        <li class="w3-padding-16">Web Design</li>
        <li class="w3-padding-16">Service Integration</li>
        <li class="w3-padding-16">Fehlerbehebung</li>
        <li class="w3-padding-16">
          <h2>$ 25</h2>
          <span class="w3-opacity">Pro Aufgabe</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-white w3-padding-large w3-hover-black">
            Sign Up
          </button>
        </li>
      </ul>
    </div>
    <!-- End Grid/Pricing tables -->
  </div>

  <!-- Testimonials -->
  <h3 class="w3-padding-24 w3-text-light-grey">My Reputation</h3>
  <img
    src="/assets/images/faisal.jpeg"
    alt="Avatar"
    class="w3-left w3-circle w3-margin-right"
    style="width: 80px"
  />
  <p>
    <span class="w3-large w3-margin-right">Faisal Alaya.</span> CEO at Flexis
  </p>
  <p>Khalil was committed, hard-working and self-learner</p>
  <br />

  <img
    src="/assets/images/oussama.png"
    alt="Avatar"
    class="w3-left w3-circle w3-margin-right"
    style="width: 80px"
  />
  <p>
    <span class="w3-large w3-margin-right">Oussama Akir</span> Tribe Director at
    Ecomundo.
  </p>
  <p>No one is better than Khalil.</p>
  <!-- End About Section -->
</div>
