<!-- <header>
  <h1>Willkommen bei meinem Portfolio</h1>
  <p>Ich bin ein leidenschaftler Entwikler mit Fokus auf Web-Technologien</p>
</header>
<section>
  <h2>Über mich</h2>
  <p>Mein Name ist {{ about.name }}. {{ about.Bio }}</p>
</section> -->
<div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
  <h2 class="w3-text-light-grey">Khalil Al Khalaf</h2>
  <hr style="width: 210px" class="w3-opacity" />
  <p>
    Full Stack Software Ingenieur (Java, Spring boot, Angular, Azure,
    Microservices) mit Erfahrung in der Arbeit mit internationalen Teams und
    Kunden, der eine neue Herausforderung sucht, um neuartige B2C-Produkte zu
    entwickeln.
  </p>
  <h3 class="w3-text-light-grey">Meine Fähigkeiten</h3>
  <hr style="width: 210px" class="w3-opacity" />
  <p class="w3-wide">Java</p>
  <div class="w3-dark-grey">
    <div class="w3-white" style="height: 28px; width: 80%"></div>
  </div>
  <p class="w3-wide">Spring boot</p>
  <div class="w3-dark-grey">
    <div class="w3-white" style="height: 28px; width: 70%"></div>
  </div>
  <p class="w3-wide">AOP (Microservices)</p>
  <div class="w3-dark-grey">
    <div class="w3-white" style="height: 28px; width: 75%"></div>
  </div>
  <p class="w3-wide">Angular</p>
  <div class="w3-dark-grey">
    <div class="w3-white" style="height: 28px; width: 65%"></div>
  </div>
  <p class="w3-wide">Problemlösung und Datenstrukturen</p>
  <div class="w3-dark-grey">
    <div class="w3-white" style="height: 28px; width: 95%"></div>
  </div>
  <p class="w3-wide">Agile</p>
  <div class="w3-dark-grey">
    <div class="w3-white" style="height: 28px; width: 80%"></div>
  </div>
  <br />

  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">4+</span><br />
      Partners
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">17+</span><br />
      Abgeschlossene Projekte
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">8+</span><br />
      Zufriedene Kunden
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">150+</span><br />
      Meetings
    </div>
  </div>

  <!-- End About Section -->
</div>
