<div class="w3-padding-16 w3-content" id="experience">
  <section>
    <h2>Berufserfahrung</h2>
    <hr style="width: 230px" class="w3-opacity" />
    @for(exp of experience;track $index){
    <div>
      <h3>{{ exp.role }} bei {{ exp.company }}</h3>
      <p><strong>Jahr:</strong> {{ exp.year }}</p>
      <p>{{ exp.description }}</p>
    </div>
    <br />
    }

    <!-- Testimonials -->
    <h3 class="w3-text-light-grey">Mein Ruf</h3>
    <hr style="width: 120px" class="w3-opacity" />
    <img
      src="./assets/images/faisal.jpeg"
      alt="Avatar"
      class="w3-left w3-circle w3-margin-right"
      style="width: 80px"
    />
    <p>
      <span class="w3-large w3-margin-right">Faisal Alaya.</span> CEO at Flexis
    </p>
    <p>Khalil was committed, hard-working and self-learner</p>
    <br />

    <img
      src="./assets/images/oussama.png"
      alt="Avatar"
      class="w3-left w3-circle w3-margin-right"
      style="width: 80px"
    />
    <p>
      <span class="w3-large w3-margin-right">Oussama Akir</span> Tribe Director
      at Ecomundo.
    </p>
    <p>No one is better than Khalil.</p>
  </section>
</div>
